<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Incluir AdminLTE CSS -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <!-- Incluir Chart.js desde un CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    {% include './modal_eliminar_empleado.html' %}
    {% include './modal_editar_empleado.html' %}
    <div class="wrapper">
      <!-- Barra de navegación -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button">
              <i class="fas fa-bars"></i>
            </a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link"><h3>Panel de Gestión</h3></a>
          </li>
        </ul>
      </nav>

      <!-- Barra lateral -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="#" class="brand-link">
          <span class="brand-text font-weight-light">Duacode</span>
        </a>
        <div class="sidebar">
          <nav class="mt-2">
            <ul
              class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
            >
              <li class="nav-item">
                <a href="#" class="nav-link active">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>Dashboard</p>
                </a>
              </li>
              <!-- Más enlaces de navegación aquí -->
            </ul>
          </nav>
        </div>
      </aside>

      <!-- Contenido de la página -->
      <div class="content-wrapper">
        <div class="container-fluid">
          <!-- Gráficos -->
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Eventos por sede</h3>
                </div>
                <div class="card-body">
                  <canvas id="grafico-sedes"></canvas>
                </div>
              </div>
            </div>

            <!-- Segundo gráfico: Total de empleados por proyecto -->
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Total de Empleados por Proyecto</h3>
                </div>
                <div class="card-body">
                  <canvas id="grafico-empleados-proyecto"></canvas>
                </div>
              </div>
            </div>
          </div>

          <!-- Tabla de empleados -->
<div class="card mt-4">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="card-title mb-0">Empleados</h1>

      <!-- Paginación en el encabezado -->
      <div class="d-flex gap-2">
        <span class="mr-2">
          Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary btn-sm mr-2">Anterior</a>
        {% else %}
          <span class="btn btn-secondary btn-sm disabled mr-2">Anterior</span>
        {% endif %}
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary btn-sm">Siguiente</a>
        {% else %}
          <span class="btn btn-secondary btn-sm disabled">Siguiente</span>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body p-0">
    <table class="table table-sm table-bordered table-hover">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Rol</th>
          <th>Proyectos</th>
          <th>Eventos Asistidos</th>
          <th>Supervisor</th>
          <th>Sede</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for empleado in page_obj %}
        <tr>
<td>
<img src="/media/{{ empleado.foto }}" alt="Foto de {{ empleado.nombre }}" class="img-thumbnail" style="width: 50px; height: 50px;">
</td>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.apellido_1 }}</td>
          <td>{{ empleado.rol }}</td>
          <td>
            {% for proyecto in proyectos_lista %}
              {% if proyecto.empleado_id == empleado.id %}
                {{ proyecto.proyectos_count }}
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for proyecto in proyectos_lista %}
              {% if proyecto.empleado_id == empleado.id %}
                {{ proyecto.reuniones_asistidas }}
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% if empleado.supervisor %}
              {{ empleado.supervisor.nombre }} {{ empleado.supervisor.apellido_1 }} {{ empleado.supervisor.apellido_2 }}
            {% else %}
              No tiene supervisor
            {% endif %}
          </td>
          <td> 
          {{ empleado.sede.nombre }}  
          </td>
          <td>
            <a href="#" class="btn btn-info btn-sm" onclick="abrirModalEditar(
              {{ empleado.id }},'{{ empleado.nombre }}', '{{ empleado.apellido_1 }}', 
               '{{ empleado.apellido_2 }}','{{ empleado.email }}', '{{ empleado.telefono }}','{{ empleado.fecha_contratacion|date:"Y-m-d"|escapejs }}',
               '{{ empleado.cumpleanos|date:"Y-m-d"|escapejs }}')">
              <i class="fa fa-pencil-alt"></i> Editar
            </a>
            <a href="#" class="btn btn-danger btn-sm" onclick="$('#modaleliminarempleado').modal('show'); showDeleteModal({{ empleado.id }});">
              <i class="fas fa-trash-alt"></i> Borrar
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="8" class="text-center">No hay empleados registrados.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

        </div>
      </div>
    </div>

    <script>
      const dias = {{ dias|safe }};
      const reunionesPorSede = {{ reuniones_por_sede|safe }};
      const proyectosEmpleados = {{ proyectos_empleados|safe }};

      // Crear gráfico dinámico para el primer gráfico con 3 líneas
      const sedes = Object.keys(reunionesPorSede);
      const colores = [
        "rgba(75, 192, 192, 1)", // Color para la primera sede
        "rgba(255, 99, 132, 1)", // Color para la segunda sede
        "rgba(54, 162, 235, 1)", // Color para la tercera sede
      ];

      const datasets = sedes.slice(0, 3).map((sede, index) => {
        return {
          label: `E - ${sede}`,
          data: Object.values(reunionesPorSede[sede]),
          borderColor: colores[index],
          borderWidth: 2,
          fill: false,
        };
      });

      const ctx1 = document.getElementById('grafico-sedes').getContext("2d");
      new Chart(ctx1, {
        type: "line",
        data: {
          labels: dias,
          datasets: datasets,
        },
        options: {
          responsive: true,
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });

      // Gráfico de barras: Total de empleados por proyecto
      const proyectos = Object.keys(proyectosEmpleados);
      const empleadosPorProyectoData = Object.values(proyectosEmpleados);

      const ctx2 = document.getElementById('grafico-empleados-proyecto').getContext("2d");
      new Chart(ctx2, {
        type: "bar",
        data: {
          labels: proyectos,  // Nombres de los proyectos
          datasets: [{
            label: 'Total de Empleados',
            data: empleadosPorProyectoData,  // Total de empleados por proyecto
            backgroundColor: 'rgba(54, 162, 235, 0.5)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        }
      });
    </script>
    
    <script>
function abrirModalEditar(id, nombre, apellido1, apellido2, email, telefono, fechaContratacion, cumpleanos, fotoUrl, rol, sede, baja, excedencia, teletrabajo, vacaciones, supervisor, qrCode) {
  // Asignar los valores a los campos del formulario
  //document.getElementById('fotoEmpleado').value = foto;
  document.getElementById('nombreEmpleado').value = nombre;
  document.getElementById('apellidoEmpleado1').value = apellido1;
  document.getElementById('apellidoEmpleado2').value = apellido2;
  document.getElementById('emailEmpleado').value = email;
  document.getElementById('telefonoEmpleado').value = telefono;
  document.getElementById('fechaContratacionEmpleado').value = fechaContratacion;
  document.getElementById('cumpleanosEmpleado').value = cumpleanos;
//document.getElementById('fotoEmpleado').src = fotoUrl ? fotoUrl : '/static/default-qr.png';
  document.getElementById('rolEmpleado').value = rol;
  document.getElementById('sedeEmpleado').value = sede ;
  document.getElementById('bajaEmpleado').checked = baja;
  document.getElementById('excedenciaEmpleado').checked = excedencia;
  document.getElementById('teletrabajoEmpleado').checked = teletrabajo;
  document.getElementById('vacacionesEmpleado').checked = vacaciones;
  //document.getElementById('supervisorEmpleado').value = supervisor;
  //document.getElementById('qrEmpleado').src = qrCode ? qrCode : '/static/default-qr.png';  // Ruta por defecto si no tiene QR

  // Abrir la modal
  $('#modalEditarEmpleado').modal('show');

  // Asignar un identificador al botón de guardar para que se pueda realizar la edición en el backend
  document.getElementById('guardarCambios').setAttribute('data-id', id);
}


document.getElementById('guardarCambios').addEventListener('click', function() {
  const empleadoId = this.getAttribute('data-id');
  const nombre = document.getElementById('nombreEmpleado').value;
  const apellido = document.getElementById('apellidoEmpleado').value;
  const rol = document.getElementById('rolEmpleado').value;
  const supervisor = document.getElementById('supervisorEmpleado').value;

  // Enviar los datos al servidor para actualizar la información del empleado
  fetch(`/api/empleados/${empleadoId}/`, {
    method: 'PUT',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': getCookie('csrftoken')  // Asegúrate de pasar el token CSRF
    },
    body: JSON.stringify({
      nombre: nombre,
      apellido: apellido,
      rol: rol,
      supervisor: supervisor
    })
  })
  .then(response => {
    if (response.ok) {
      // Cerrar la modal y recargar la página para ver los cambios
      $('#modalEditarEmpleado').modal('hide');
      location.reload();
    } else {
      alert('Error al guardar los cambios.');
    }
  })
  .catch(error => console.error('Error:', error));
});
      function showDeleteModal(empleadoId) {
    // Asignar el ID del empleado al botón de confirmación de eliminación
    document.getElementById('confirmDelete').setAttribute('data-id', empleadoId);
}
function getCookie(name) {
    let match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
    if (match) return match[2];
    return null;
}
  document.getElementById('confirmDelete').addEventListener('click', function() {
    // Lógica para eliminar al empleado
    const empleadoId = this.getAttribute('data-id');
    const accessToken = getCookie('access_token');
const refreshToken = getCookie('refresh_token');
fetch(`/api/empleados/${empleadoId}/`, {
    method: 'DELETE',
    headers: {
        'X-CSRFToken': getCookie('csrftoken'),  // Token CSRF
        'Authorization': `Bearer ${accessToken}`,  // Enviar el access_token en el encabezado Authorization
        'Content-Type': 'application/json'
    },
    credentials: 'include'  // Asegura que las cookies de sesión se envíen con la solicitud
})
    .then(response => {
      if (response.ok) {
        // Cierra la modal y actualiza la página
        $('#modaleliminarempleado').modal('hide');
        location.reload();
      } else {
        alert('Error al eliminar el empleado.');
      }
    })
    .catch(error => console.error('Error:', error));
  });
</script>

  </body>
</html>

