{% extends 'base.html' %} 
{% load static %}

{% block title %}Protocolos{% endblock %} 
{% block extra_head %} <!-- Incluir scripts o estilos adicionales aquí si es necesario --> 
{% endblock %}
    {% comment %} {% include './modal_eliminar_empleado.html' %}
    {% include './modal_editar_empleado.html' %}
    {% include './modal_anadir_empleado.html' %} {% endcomment %}
    
      <!-- Contenido de la página -->
       {% block content %}
        <div class="container-fluid">
          <!-- Gráficos -->
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Eventos por sede</h3>
                </div>
                <div class="card-body">
                  <canvas id="grafico-sedes"></canvas>
                </div>
              </div>
            </div>

            <!-- Segundo gráfico: Total de empleados por proyecto -->
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Total de Empleados por Proyecto</h3>
                </div>
                <div class="card-body">
                  <canvas id="grafico-empleados-proyecto"></canvas>
                </div>
              </div>
            </div>
          </div>
          <!-- Tabla de empleados -->
      <div class="card mt-4">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <h1 class="card-title mb-0">Empleados</h1>
              <a href="#" class="btn btn-primary btn-sm" onclick="$('#modalAnadirEmpleado').modal('show');">
              <i class="fas fa-user-plus"></i> Agregar Empleado
            </a>
            <!-- Paginación en el encabezado -->
            <div class="d-flex gap-2">
              <span class="mr-2">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
              </span>
              {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary btn-sm mr-2">Anterior</a>
              {% else %}
                <span class="btn btn-secondary btn-sm disabled mr-2">Anterior</span>
              {% endif %}
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary btn-sm">Siguiente</a>
              {% else %}
                <span class="btn btn-secondary btn-sm disabled">Siguiente</span>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-sm table-bordered table-hover">
            <thead>
              <tr>
                {% comment %} <th>Foto</th> {% endcomment %}
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Rol</th>
                <th>Proyectos</th>
                <th>Eventos Asistidos</th>
                <th>Supervisor</th>
                <th>Sede</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for empleado in page_obj %}
              <tr>
      {% comment %} <td>
      <img src="/media/{{ empleado.foto }}" alt="Foto de {{ empleado.nombre }}" class="img-thumbnail" style="width: 50px; height: 50px;">
      </td> {% endcomment %}
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.apellido_1 }}</td>
                <td>{{ empleado.rol }}</td>
                <td>
                  {% for proyecto in proyectos_lista %}
                    {% if proyecto.empleado_id == empleado.id %}
                      {{ proyecto.proyectos_count }}
                    {% endif %}
                  {% endfor %}
                </td>
                <td>
                  {% for proyecto in proyectos_lista %}
                    {% if proyecto.empleado_id == empleado.id %}
                      {{ proyecto.reuniones_asistidas }}
                    {% endif %}
                  {% endfor %}
                </td>
                <td>
                  {% if empleado.supervisor %}
                    {{ empleado.supervisor.nombre }} {{ empleado.supervisor.apellido_1 }} {{ empleado.supervisor.apellido_2 }}
                  {% else %}
                    No tiene supervisor
                  {% endif %}
                </td>
                <td> 
                {{ empleado.sede.nombre }}  
                </td>
                <td>
            <a href="#" class="btn btn-info btn-sm" onclick="abrirModalEditar(
              {{ empleado.id }},
              '{{ empleado.nombre }}',
              '{{ empleado.apellido_1 }}',
              '{{ empleado.apellido_2 }}',
              '{{ empleado.email }}',
              '{{ empleado.telefono }}',
              '{{ empleado.fecha_contratacion|date:"Y-m-d"|escapejs }}',
              '{{ empleado.cumpleanos|date:"Y-m-d"|escapejs }}',
              '{{ empleado.rol.id }}',
              '{{ empleado.sede.id }}',
              '{{ empleado.baja }}',
              '{{ empleado.excedencia }}',
              '{{ empleado.teletrabajo }}',
              '{{ empleado.vacaciones }}'
              )">   <i class="fa fa-pencil-alt"></i> Editar              
            </a>
            <a href="#" class="btn btn-danger btn-sm" onclick="$('#modaleliminarempleado').modal('show'); showDeleteModal({{ empleado.id }});">
                    <i class="fas fa-trash-alt"></i> Borrar
                  </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="8" class="text-center">No hay empleados registrados.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      </div>
    </div>
    <script>
      const dias = {{ dias|safe }};
      const reunionesPorSede = {{ reuniones_por_sede|safe }};
      const proyectosEmpleados = {{ proyectos_empleados|safe }};
      // Crear gráfico dinámico para el primer gráfico con 3 líneas
      const sedes = Object.keys(reunionesPorSede);
      const colores = [
        "rgba(75, 192, 192, 1)", // Color para la primera sede
        "rgba(255, 99, 132, 1)", // Color para la segunda sede
        "rgba(54, 162, 235, 1)", // Color para la tercera sede
      ];

      const datasets = sedes.slice(0, 3).map((sede, index) => {
        return {
          label: `E - ${sede}`,
          data: Object.values(reunionesPorSede[sede]),
          borderColor: colores[index],
          borderWidth: 2,
          fill: false,
        };
      });
      const ctx1 = document.getElementById('grafico-sedes').getContext("2d");
      new Chart(ctx1, {
        type: "line",
        data: {
          labels: dias,
          datasets: datasets,
        },
        options: {
          responsive: true,
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
      // Gráfico de barras: Total de empleados por proyecto
      const proyectos = Object.keys(proyectosEmpleados);
      const empleadosPorProyectoData = Object.values(proyectosEmpleados);
      const ctx2 = document.getElementById('grafico-empleados-proyecto').getContext("2d");
      new Chart(ctx2, {
        type: "bar",
        data: {
          labels: proyectos,  // Nombres de los proyectos
          datasets: [{
            label: 'Total de Empleados',
            data: empleadosPorProyectoData,  // Total de empleados por proyecto
            backgroundColor: 'rgba(54, 162, 235, 0.5)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        }
      });
    </script>    
    <script>
    function abrirModalEditar(id, nombre, apellido1, apellido2, email, telefono, fechaContratacion, cumpleanos, rol, sede, baja, excedencia, teletrabajo, vacaciones, supervisor, qrCode) {
      document.getElementById('nombreEmpleado').value = nombre;
        document.getElementById('apellidoEmpleado1').value = apellido1;
        document.getElementById('apellidoEmpleado2').value = apellido2;
        document.getElementById('emailEmpleado').value = email;
        document.getElementById('telefonoEmpleado').value = telefono;
        document.getElementById('fechaContratacionEmpleado').value = fechaContratacion;
        document.getElementById('cumpleanosEmpleado').value = cumpleanos;
        document.getElementById('rolEmpleado').value = rol;
        document.getElementById('sedeEmpleado').value = sede;
        const convertirBooleano = (valor) => valor === "True";
        document.getElementById('bajaEmpleado').checked = convertirBooleano(baja);
        document.getElementById('excedenciaEmpleado').checked = convertirBooleano(excedencia);
        document.getElementById('teletrabajoEmpleado').checked = convertirBooleano(teletrabajo);
        document.getElementById('vacacionesEmpleado').checked = convertirBooleano(vacaciones);
    cargarSelects();
      // Abrir la modal
      $('#modalEditarEmpleado').modal('show');
    function cargarSelects() {
        // Aquí deberías tener los valores de roles y sedes (puedes cargarlos desde un archivo JS, hacer una petición AJAX al backend, etc.)
        const roles = [
        {"id": 1,"nombre": "CEO","rol_display": "CEO"},
        {"id": 2,"nombre": "CTO","rol_display": "CTO"},
        {"id": 3,"nombre": "LÍDER_DESARROLLO","rol_display": "Líder de Equipo de Desarrollo"},
        {"id": 4,"nombre": "INGENIERO_FRONTEND","rol_display": "Ingeniero de Frontend"},
        {"id": 5,"nombre": "INGENIERO_BACKEND","rol_display": "Ingeniero de Backend"},
        {"id": 6,"nombre": "LÍDER_QA","rol_display": "Líder de QA"},
        {"id": 7,"nombre": "INGENIERO_QA","rol_display": "Ingeniero de QA"},
        {"id": 8,"nombre": "GERENTE_PROYECTO","rol_display": "Gerente de Proyecto"},
        {"id": 9,"nombre": "COORDINADOR_PROYECTO","rol_display": "Coordinador de Proyecto"},
        {"id": 10,"nombre": "CFO","rol_display": "CFO"},
        {"id": 11,"nombre": "GERENTE_PRODUCTO","rol_display": "Gerente de Producto"},
        {"id": 12,"nombre": "PROPIETARIO_PRODUCTO","rol_display": "Propietario de Producto"},
        {"id": 13,"nombre": "GERENTE_MARKETING","rol_display": "Gerente de Marketing"},
        {"id": 14,"nombre": "ESPECIALISTA_MARKETING","rol_display": "Especialista en Marketing Digital"},
        {"id": 15,"nombre": "GERENTE_VENTAS","rol_display": "Gerente de Ventas"},
        {"id": 16,"nombre": "REPRESENTANTE_VENTAS","rol_display": "Representante de Ventas"},
        {"id": 17,"nombre": "GERENTE_SOPORTE","rol_display": "Gerente de Soporte"},
        {"id": 18,"nombre": "ESPECIALISTA_SOPORTE","rol_display": "Especialista en Soporte al Cliente"}
        ];
        const sedes = [
        {"id": 1,"nombre": "Sede Principal","direccion": "Camino de Eugenio Casanova 78\nGirona, 31485", "ciudad": "Asturias", "pais": "Côte d'Ivoire" },
        {"id": 2,"nombre": "Sede Secundaria","direccion": "Callejón Florina Fortuny 6\nNavarra, 45066","ciudad": "Pontevedra","pais": "Suecia" },
        {"id": 3,"nombre": "Sede Internacional","direccion": "Alameda Eva Ramos 10\nAlicante, 26205","ciudad": "Burgos","pais": "República Democrática del Congo"}
        ];
        // Llenar el select de roles
        const selectRol = document.getElementById('rolEmpleado');
        selectRol.innerHTML = ''; // Limpiar el select antes de añadir opciones
        roles.forEach(rol => {
            const option = document.createElement('option');
            option.value = rol.id;
            option.textContent = rol.nombre;
            selectRol.appendChild(option);
        });
        // Llenar el select de sedes
        const selectSede = document.getElementById('sedeEmpleado');
        selectSede.innerHTML = ''; // Limpiar el select antes de añadir opciones
        sedes.forEach(sede => {
            const option = document.createElement('option');
            option.value = sede.id;
            option.textContent = sede.nombre;
            selectSede.appendChild(option);
        });
    } 
    document.getElementById('guardarCambios').setAttribute('data-id', id);
  }
    document.getElementById('guardarCambios').addEventListener('click', function() {
      const empleadoId = this.getAttribute('data-id'); // Asumo que el data-id contiene el ID del empleado
      const nombre = document.getElementById('nombreEmpleado').value;
      const apellido1 = document.getElementById('apellidoEmpleado1').value;
      const apellido2 = document.getElementById('apellidoEmpleado2').value;
      const email = document.getElementById('emailEmpleado').value;
      const fechaContratacion = document.getElementById('fechaContratacionEmpleado').value;
      const cumpleanos = document.getElementById('cumpleanosEmpleado').value;
      const telefono = document.getElementById('telefonoEmpleado').value;
      const rol =  document.getElementById('rolEmpleado').value ;
      const sede = document.getElementById('sedeEmpleado').value;
      const baja = document.getElementById('bajaEmpleado').checked;
      const excedencia = document.getElementById('excedenciaEmpleado').checked;
      const teletrabajo = document.getElementById('teletrabajoEmpleado').checked;
      const vacaciones = document.getElementById('vacacionesEmpleado').checked;
      const accessToken = getCookie('access_token');
      const refreshToken = getCookie('refresh_token');
      // Enviar los datos al servidor para actualizar la información del empleado
      fetch(`/api/empleados/${empleadoId}/`, {    
        method: 'PUT',
            headers: {
            'X-CSRFToken': getCookie('csrftoken'),  // Token CSRF
            'Authorization': `Bearer ${accessToken}`,  // Enviar el access_token en el encabezado Authorization
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          nombre: nombre,
          apellido_1: apellido1,
          apellido_2: apellido2,
          email: email,
          fecha_contratacion: fechaContratacion,
          cumpleanos: cumpleanos,
          telefono: telefono,
          rol: rol,
          sede: sede,
          baja: baja,
          excedencia: excedencia,
          teletrabajo: teletrabajo,
          vacaciones: vacaciones
        })
      })
      .then(response => {
        if (response.ok) {
          // Cerrar la modal y recargar la página para ver los cambios
          $('#modalEditarEmpleado').modal('hide');
          location.reload();
        } else {
          alert('Error al guardar los cambios.');
        }
      })
      .catch(error => console.error('Error:', error));
    });
    function showDeleteModal(empleadoId) {
      // Asignar el ID del empleado al botón de confirmación de eliminación
      document.getElementById('confirmDelete').setAttribute('data-id', empleadoId);
    }
function getCookie(name) {
    let match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
    if (match) return match[2];
    return null;
}
  document.getElementById('confirmDelete').addEventListener('click', function() {
    // Lógica para eliminar al empleado
    const empleadoId = this.getAttribute('data-id');
    const accessToken = getCookie('access_token');
const refreshToken = getCookie('refresh_token');
fetch(`/api/empleados/${empleadoId}/`, {
    method: 'DELETE',
    headers: {
        'X-CSRFToken': getCookie('csrftoken'),  // Token CSRF
        'Authorization': `Bearer ${accessToken}`,  // Enviar el access_token en el encabezado Authorization
        'Content-Type': 'application/json'
    },
    credentials: 'include'  // Asegura que las cookies de sesión se envíen con la solicitud
})
    .then(response => {
      if (response.ok) {
        // Cierra la modal y actualiza la página
        $('#modaleliminarempleado').modal('hide');
        location.reload();
      } else {
        alert('Error al eliminar el empleado.');
      }
    })
    .catch(error => console.error('Error:', error));
  });
</script>
<script>
    document.getElementById("guardarEmpleadoBtn").addEventListener("click", function () {
    const form = document.getElementById("form-anadir-empleado");
    const formData = new FormData();
formData.append("nombre", document.getElementById("nombreEmpleadoanadir").value);
formData.append("apellido_1", document.getElementById("apellidoEmpleado1anadir").value);
formData.append("apellido_2", document.getElementById("apellidoEmpleado2anadir").value);
formData.append("email", document.getElementById("emailEmpleadoanadir").value);
formData.append("fecha_contratacion", document.getElementById("fechaContratacionEmpleadoanadir").value);
formData.append("cumpleanos", document.getElementById("cumpleanosEmpleadoanadir").value);
formData.append("telefono", document.getElementById("telefonoEmpleadoanadir").value);
formData.append("rol", document.getElementById("rolEmpleadoanadir").value);
formData.append("sede", document.getElementById("sedeEmpleadoanadir").value);
// Checkboxes: Convertir los checkboxes a Boolean (True/False) o lo que necesites en el backend
formData.append("baja", document.getElementById("bajaEmpleadoanadir").checked);
    formData.append("excedencia", document.getElementById("excedenciaEmpleadoanadir").checked);
    formData.append("teletrabajo", document.getElementById("teletrabajoEmpleadoanadir").checked);
    formData.append("vacaciones", document.getElementById("vacacionesEmpleadoanadir").checked);
function getCookie(name) {
    let match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
    if (match) return match[2];
    
    return null;
}
    // Access Token (supongamos que lo tienes almacenado en una variable o en localStorage)
        const accessToken = getCookie('access_token');
        const refreshToken = getCookie('refresh_token');
        console.log("Contenido del FormData:");
    for (const [key, value] of formData.entries()) {
        console.log(`${key}: ${value}`);
    }
    // Enviar los datos al backend
    fetch("/api/empleados/", { // Cambia esta URL por la correcta en tu proyecto
        method: "POST",
        body: formData,
        headers: {
            'Authorization': `Bearer ${accessToken}`,
            'X-CSRFToken': getCookie('csrftoken'), // Solo si necesitas CSRF y no usas credentials
        },
        credentials: 'include' // Esto incluye cookies automáticamente        
    })
    .then(response => {
        if (response.ok) {
            return response.json();
        } else {
            throw new Error("Error al guardar el empleado");
        }
    })
    .then(data => {
        console.log("Empleado guardado:", data);
        // Cerrar el modal o actualizar la página
        $('#modalAnadirEmpleado').modal('hide');
    })
    .catch(error => {
        console.error("Error:", error);
    });
});
document.addEventListener("DOMContentLoaded", () => {
    const roles = [
        { "id": 1, "nombre": "CEO", "rol_display": "CEO" },
        { "id": 2, "nombre": "CTO", "rol_display": "CTO" },
        { "id": 3, "nombre": "LÍDER_DESARROLLO", "rol_display": "Líder de Equipo de Desarrollo" },
        { "id": 4, "nombre": "INGENIERO_FRONTEND", "rol_display": "Ingeniero de Frontend" },
        { "id": 5, "nombre": "INGENIERO_BACKEND", "rol_display": "Ingeniero de Backend" },
        { "id": 6, "nombre": "LÍDER_QA", "rol_display": "Líder de QA" },
        { "id": 7, "nombre": "INGENIERO_QA", "rol_display": "Ingeniero de QA" },
        { "id": 8, "nombre": "GERENTE_PROYECTO", "rol_display": "Gerente de Proyecto" },
        { "id": 9, "nombre": "COORDINADOR_PROYECTO", "rol_display": "Coordinador de Proyecto" },
        { "id": 10, "nombre": "CFO", "rol_display": "CFO" },
        { "id": 11, "nombre": "GERENTE_PRODUCTO", "rol_display": "Gerente de Producto" },
        { "id": 12, "nombre": "PROPIETARIO_PRODUCTO", "rol_display": "Propietario de Producto" },
        { "id": 13, "nombre": "GERENTE_MARKETING", "rol_display": "Gerente de Marketing" },
        { "id": 14, "nombre": "ESPECIALISTA_MARKETING", "rol_display": "Especialista en Marketing Digital" },
        { "id": 15, "nombre": "GERENTE_VENTAS", "rol_display": "Gerente de Ventas" },
        { "id": 16, "nombre": "REPRESENTANTE_VENTAS", "rol_display": "Representante de Ventas" },
        { "id": 17, "nombre": "GERENTE_SOPORTE", "rol_display": "Gerente de Soporte" },
        { "id": 18, "nombre": "ESPECIALISTA_SOPORTE", "rol_display": "Especialista en Soporte al Cliente" },
    ];
    const sedes = [
        { "id": 1, "nombre": "Sede Principal", "direccion": "Camino de Eugenio Casanova 78\nGirona, 31485", "ciudad": "Asturias", "pais": "Côte d'Ivoire" },
        { "id": 2, "nombre": "Sede Secundaria", "direccion": "Callejón Florina Fortuny 6\nNavarra, 45066", "ciudad": "Pontevedra", "pais": "Suecia" },
        { "id": 3, "nombre": "Sede Internacional", "direccion": "Alameda Eva Ramos 10\nAlicante, 26205", "ciudad": "Burgos", "pais": "República Democrática del Congo" },
    ];
    // Elementos del DOM
    const rolSelect = document.getElementById("rolEmpleadoanadir");
    const sedeSelect = document.getElementById("sedeEmpleadoanadir");
    // Cargar roles en el select
    roles.forEach(rol => {
        const option = document.createElement("option");
        option.value = rol.id;
        option.textContent = rol.rol_display;
        rolSelect.appendChild(option);
    });
    // Cargar sedes en el select
    sedes.forEach(sede => {
        const option = document.createElement("option");
        option.value = sede.id;
        option.textContent = sede.nombre;
        sedeSelect.appendChild(option);
    });
});
</script> 
  </body>
</html>



{% endblock %}