{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/@zxing/library@latest"></script>
  </head>
  <body>
    <h1>Iniciar Sesión</h1>

    {% if welcome_message %}
    <div class="alert alert-info">{{ welcome_message }}</div>
    {% endif %} {% comment %} FORMULARIO DE USER Y password {% endcomment %}
    <form id="loginForm" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Usuario:</label>
        <input type="text" name="username" id="username" required />
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" name="password" id="password" required />
      </div>
      <button type="submit">Iniciar Sesión</button>
    </form>

    <h2>Lector de Códigos QR</h2>
    <video id="preview" width="640" height="480"></video>

    <script>
      // Recogemos el valor de la cookie de sesion y lo decodificamos
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }

      $(document).ready(function () {
        // Nos crea la vista de la webcam
        const codeReader = new ZXing.BrowserQRCodeReader();
        // Descodificamos el contenido del qr si se lee
        codeReader.decodeFromVideoDevice(null, "preview", (result, err) => {
          if (result) {
            //Pasamos la info a formato JSON
            const employeeData = JSON.parse(result.text);

            // Crear el username y la password en el formato deseado
            const username = `${employeeData.nombre}.${employeeData.apellido_1}`;
            const password = `${employeeData.contraseña}`;
            // Asignamos al formulario los valores de las variables
            $("#username").val(username);
            $("#password").val(password);

            // Añadimos el token de sesion
            const csrfToken = getCookie("csrftoken");
            $("<input>")
              .attr({
                type: "hidden",
                name: "csrfmiddlewaretoken",
                value: csrfToken,
              })
              .appendTo("#loginForm");

            // Hacemos submit automático
            $("#loginForm").submit();
          }
          // Si hay un error lo mostramos por consola
          if (err && !(err instanceof ZXing.NotFoundException)) {
            console.error(err);
          }
        });
      });
    </script>
  </body>
</html>
